<div class= "container">
  <%= @flat.name %> <br>
  <%= @flat.address %> <br>
  <%= @flat.description %> <br>
  <%= @flat.price_per_night %> <br>
  <%= @flat.number_of_guests %> <br>
  <%= link_to 'Back to all flats', flats_path %>
</div>
